/* Navbar */
.custom-navbar {
  background-color: #000;
  border: 2px solid red;
  border-radius: 20px;
  max-width: 90%;
  width: 900px;
  margin: 0;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
}

/* Logo */
.logo-img {
  width: 150px;
  height: auto;
  max-height: 100px;
  object-fit: contain;
  margin-left:10px;
}

/* Nav links */
.custom-navbar .nav-link {
  color: white ;
  font-weight: bold;
  font-size: 1.05rem;
  margin: 0 10px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.custom-navbar .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: red;
  transition: width 0.3s ease-in-out;
}

.custom-navbar .nav-link:hover::after {
  width: 100%;
}

.custom-navbar .nav-link:hover {
  text-shadow: 0 0 8px red;
}

/* Toggler */
.navbar-toggler {
  border: 1px solid red;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 30 30'%3e%3cpath stroke='red' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
@media (max-width: 992px) {
  .custom-navbar {
    width: 100%;
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin: 0; 
    padding: 10px 15px;
  }

  .custom-navbar .nav-link {
    display: block;
    margin: 10px 0;
  }

  .logo-img {
    width: 230px;
    max-height: 70px;
  }
}

/* Extra small devices */
@media (max-width: 576px) {
  .logo-img {
    width: 160px;
    max-height: 60px;
    margin-left: 10px;
  }
}